.about-container {
    padding: 20px;
}

.about {
    padding: 100px 0;
    border-bottom: 1px solid black;
    padding: 100px 0;
}

.about-content > * {
    padding: 8px 0;
}

.about p {
    font-size: 18px;
    line-height: 30px;
}

.about a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.email-cta {
    padding-top: 20px;
}

.about-img {
    width: 100%;
}

.desktop-img {
    display: none;
}

.mobile-img {
    display: flex;
}

@media only screen and (min-width: 800px) {
    .about {
        display: flex;
        gap: 20px;
        max-width: 1400px;
            margin: 0 auto;
    }

    .about-content {
        width: 500px;
        max-width: 1080px;
        padding-top: 40px;
        margin: 0 auto;
    }

        .desktop-img {
            display: flex;
            height: 600px;
            width: 450px;
            object-fit: cover;
        }
    
        .mobile-img {
            display: none;
        }

}
