.about {
    height: 100vh;
      scroll-snap-align: start;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: orange;
      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;
      scroll-snap-points-y: repeat(100%);
}