.about-header-title {
  text-align: center;
  padding: 100px;
}

.about {
  display: flex;
  flex-wrap: wrap;
}

.about-content-container {
  max-width: 1440px;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.about-content-copy p {
  padding-bottom: 32px;
  padding-right: 15px;
}

.about-me-img img {
  width: 100%;
  border: 1px solid var(--primary-font-color);
    box-shadow: 3px 3px 0 0 var(--primary-font-color);
    border-radius: 8px;
}


@media screen and (min-width: 767px) {
  .about-content-container {
    flex-direction: row;
  }

}

