.blogs-container {
  padding: 20px;
}

.blogs {
  border-bottom: 1px solid black;
  padding: 50px 0;
  max-width: 1400px;
  margin: 0 auto;
}

.blogs p {
    font-size: 18px;
    line-height: 30px;
}

.blogs > * {
  padding: 10px 0;
}

.blog-cards > * {
  padding: 50px 0;
}

.blog-card > * {
    padding: 8px 0;
}

.blog-card a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.blog-cards img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

@media only screen and (min-width: 800px) {

.blog-cards>* {
        padding: 10px 0;
    }

    .blog-cards {
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        margin: 0 auto;
    }

    .blog-intro {
        max-width: 1080px;
        margin: 0 auto;
        text-align: center;
    }

    .blog-intro > * {
        padding-bottom: 30px;
    }

    .blog-card {
        display: flex;
    }
    .blog-cards img {
        height: 500px;
        width: 500px;
    }

    .blog-card-content {
        padding: 20px;
    }

    .blog-card-content > * {
        padding-bottom: 20px;
    }
}
