.blogs-container {
  border: solid red 1px;
}

.blogs {
  border-bottom: 1px solid black;
  max-width: 1400px;
  margin: 0 auto;
  border: solid red 1px;
}

.blogs p {
  font-size: 18px;
  line-height: 30px;
  border: solid red 1px;
}

.blogs > * {
  border: solid red 1px;
}

.blog-cards > * {
  border: solid red 1px;
}

.blog-card > * {
  border: solid red 1px;
}

.blog-card a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: solid red 1px;
}

.blog-cards img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border: solid red 1px;
}

@media only screen and (min-width: 800px) {
  .blog-cards > * {
  }

  .blog-cards {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: 0 auto;
  }

  .blog-intro > * {
  }

  .blog-card {
    display: flex;
  }
  .blog-cards img {
    height: 500px;
    width: 500px;
  }

  .blog-card-content {
    padding: 20px;
  }

  .blog-card-content > * {
    padding-bottom: 20px;
  }
}
