.blog-container {
    width: 100%;
    background-color: brown;
}

.blog-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
    height: 500px;
}

.blog-info,
.blog-form {
    flex: 1 0 50%;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {

    .blog-info,
    .blog-form {
        flex: 0 0 100%;
    }
}