.contact-container {
  width: 100%;
  background: slateblue;
  padding: 100px 0;
}

.contact-container-header {
  padding: 0 30px;
  padding-bottom: 10px;
  margin: auto;
  max-width: 1400px;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: auto;
  padding: 50px 30px;
}

.contact-info,
.contact-form {
  flex: 1 0 50%;
  box-sizing: border-box;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form h2 {
  display: none;
}

.contact-button {
  width: 200px;
  align-self: end;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 250px;
}

.contact-info p {
  padding-right: 50px;
}

input,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  height: 54px;
  border: 1px solid black;
  box-shadow: 3px 3px 0 0 black;
  color: black;
  background-color: #ffffff;
  border-radius: 50px;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  font-weight: 600;
  line-height: 54px;
  text-decoration: none;
  transition:
    box-shadow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: inline-block;
  outline: none;
}

textarea {
  min-height: 120px;
  text-align: left;
  border-radius: 20px;
  margin-bottom: 24px;
  padding: 12px 32px;
  line-height: 160%;
  overflow: hidden;
  resize: none;
}

.contact-button {
  height: 54px;
  border: 1px solid black;
  box-shadow: 3px 3px 0 0 black;
  color: black;
  background-color: #e2c100;
  border-radius: 50px;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  font-weight: 600;
  line-height: 54px;
  text-decoration: none;
  margin-top: -23px;
  transition:
    box-shadow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: inline-block;
}

button:hover {
  box-shadow: 6px 6px 0 0 black;
  transform: translate(-4px, -4px);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .contact-info,
  .contact-form {
    flex: 0 0 100%;
  }

  .follow-header {
    display: none;
  }

  .contact-info {
    height: 200px;
  }

    .contact-form h2 {
      display: block;
    }
}
