.contact-container {
    width: 100%;
    background: grey;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
    height: 500px;

  }


  .contact-info,
  .contact-form {
    flex: 1 0 50%;
    box-sizing: border-box;
  }


  @media screen and (max-width: 767px) {
    .contact-info,
    .contact-info {
      flex: 0 0 100%;
    }

  }