

.contact-container {
  width: 100%;
  padding: 50px 0;
}

.contact-container-header {
  padding: 0 30px;
  padding-bottom: 10px;
  margin: auto;
  max-width: 1400px;
}

.contact-info-text {
  max-width: 80%;
}

.contact-info-text > * {
  margin-bottom: 16px;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: auto;
  padding: 0px 15px;
}

.contact-info,
.contact-form {
  flex: 1 0 50%;
  box-sizing: border-box;
  flex-direction: column;
}

.contact-form {
  display: flex;
}

.contact-form > * {
  margin-bottom: 10px;
}

.contact-form h2 {
  display: none;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 350px;
}

.contact-info p {
  padding-right: 50px;
}

.form-submission {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.email-me,
.follow {
  font-weight: bold;
}

.email-link {
  text-decoration: none;
  color: navy;
  font-weight: 300;
}

.contact-button.success {
  background-color: rgb(66, 157, 66);
}

input,
textarea {
  height: 54px;
  border: 1px solid black;
  box-shadow: 3px 3px 0 0 var(--primary-font-color);
  color: var(--primary-font-color);
  background-color: #ffffff;
  border-radius:8px;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-weight: 600;
  line-height: 54px;
  text-decoration: none;
  transition:
    box-shadow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: inline-block;
  outline: none;
  font-weight: 300;
}

textarea {
  min-height: 120px;
  text-align: left;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 20px;
  line-height: 16px;
  overflow: hidden;
  resize: none;
  font-weight: 300;
}

.contact-button {
border: 1px solid var(--primary-font-color);
  box-shadow: 3px 3px 0 0 var(--primary-font-color);
  color: var(--primary-font-color);
  background-color: var(--cta-btn-color);
  border-radius: 8px;
  padding: 15px 25px;
  font-weight: 700;
}

.contact-button:hover {
  background-color: var(--btn-hover-color);
  transition: .25s ease-in-out;
  cursor: pointer;
}

.contact-button.reverse-hover {
  box-shadow: none;
  transform: none;
}

@media screen and (max-width: 767px) {

  .contact {
      width: 100%;
      padding: 0;
    }

  .contact-info,
  .contact-form {
    flex: 0 0 100%;
  }

  .follow-header {
    display: none;
  }

  .contact-info {
    height: 300px;
  }

  .contact-info-text p {
    width: 100%;
  }

  .contact-form h2 {
    display: block;
  }
}
