.content-card ul {
  list-style: none;
}

.contact-cta {
  font-size: 36px;
}

.content-card h2 {
  margin-bottom: 10px;
  font-weight: 400;
}

@media only screen and (min-width: 800px) {
  .contact-cta {
    font-size: 60px;
  }

  .content-card h2 {
    margin-bottom: 20px;
  }
}
