.footer-container {
  background-color: #FAFAFA;
  width: 100%;
  padding: 50px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  max-width: 1400px;
  padding: 0px 30px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 22px;
}

.footer-content-left {
  display: flex;
  align-items: center;
}

.footer-content-left img {
  width: 70px;
  margin-right: 15px;
}

.footer-content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer-content {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-content-left,
  .footer-content-right {
    flex-direction: column;
    text-align: center;
  }

  .footer-content-left > * {
    padding: 10px 0;
  }

  .footer-content-left img {
    margin-right: 0;
  }
}
