
.footer-content-left img {
  width: 70px;
  margin-right: 15px;
}


@media screen and (max-width: 767px) {
  .footer-content {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-content-left,
  .footer-content-right {
    flex-direction: column;
    text-align: center;
  }

  .footer-content-left>* {
    padding: 10px 0;
  }

  .footer-content-left img {
    margin-right: 0;
  }


}