.header-container {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  padding: 10px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  max-width: 1400px;
  margin: auto;
}

.nav-logo {
  width: 60px;
}

.fa-bars, 
.fa-xmark {
  font-size: 40px;
  display: none;
}

.nav-menu ul {
  display: flex;
}

.nav-menu li {
  list-style: none;
  cursor: pointer;
}

.nav-menu li:not(:first-child) {
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .fa-bars,
  .fa-xmark {
      display: block;
    }

    
  .nav-menu {
    display: none;
  }
}