.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  padding: 150px 15px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content > * {
  padding-bottom: 15px;
}

.hero-content,
.hero-img {
  flex: 1 0 50%;
  box-sizing: border-box;
}

.hero-content h1 {
  font-weight: bold;
}

.hero-content p {
  font-size: 24px;
  color: darkblue;
}

.hero-button {
  height: 54px;
  border: 1px solid black;
  box-shadow: 3px 3px 0 0 black;
  color: black;
  background-color: #e2c100;
  border-radius: 50px;
  align-content: center;
  justify-content: center;
  align-self: start;
  padding: 0 32px;
  font-weight: 600;
  line-height: 54px;
  text-decoration: none;
  transition:
    box-shadow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: inline-block;
}

.hero-button:hover {
  box-shadow: 6px 6px 0 0 black;
  transform: translate(-4px, -4px);
  cursor: pointer;
}

.hero-img img {
  max-width: 100%;
}

@media screen and (max-width: 767px) {

  .hero-content,
  .hero-img {
    flex: 0 0 100%;
  }

  .hero-img {
    padding: 50px 0;
    padding-bottom: 100px;
  }

  .hero-content {
    height: 50vh;
    margin-top: -125px;
  }

}
