.hero-img {
  width: 180px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.hero-cta {
  margin-top: 20px;
}

@media screen and (min-width: 600px) {
  .desktop-h1 {
      font-size: 70px;
      max-width: 80%;
      margin: 0 auto;
    }

        .hero-cta {
          margin-top: 20px;
        }
}

