.hero {
  padding: 150px 15px;

}

.hero-text {
  margin: auto;
  max-width: 1440px;
}

.hero-text > * {
    padding-bottom: 20px;
}


.hero-text-h1 {
  font-size: 64px;
  padding-bottom: 20px;
  line-height: 64px;
}

.hero-text-p {
  font-size: 28px;
}

.hero-cta-btn {
border: 1px solid var(--primary-font-color);
  box-shadow: 3px 3px 0 0 var(--primary-font-color);
  background-color: var(--cta-btn-color);
  color: var(--primary-font-color);
  border-radius: 8px;
  padding: 15px 25px;
  font-weight: 700;
  cursor: pointer;
}

.hero-cta-btn:hover {
  background-color: var(--btn-hover-color);
  transition: .25s ease-in-out;
}

.hero-faArrowRightLong {
  padding-left: 10px;
}

@media screen and (max-width: 767px) {


  .hero-text-h1 {
      font-size: 32px;
      padding: 15px 0px;
      line-height: 36px;
      margin-top: -25px;

    }
  
    .hero-text-p {
      font-size: 18px;
    }

     .hero-cta-btn {
       padding: 10px 20px;
       font-weight: 700;
     }

}