.hero-container {
    padding: 20px;
}


.hero {
    text-align: center;
    padding: 50px 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    max-width: 1400px;
    margin: 0 auto;
}

.hero > * {
    padding: 10px 0;
}
