@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;500;800&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-points-y: repeat(100%);
}

body {
  font-family: 'Figtree', sans-serif;
}