/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

*/

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

:root {
  --primary-font-color: #282825;
  --accent-color: #8d9199;
  --cta-btn-color: #f7cd45;
  --btn-hover-color: #23a094;
  --stack-list-color: #e94c89;
  --blog-accent-color: #91A8ED;
  --alternate-bg-color: #ebebeb;
  --project-bg-color-1: #23A094;
}

