.header-container {
  background-color: white;
  width: 100%;
  z-index: 10;
  position: fixed;
}

.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  z-index: 10;
  max-width: 1400px;
  margin: 0 auto;
}

.nav-logo {
  font-size: 22px;
}

.fa-bars {
  font-size: 30px;
}

.fa-x {
  font-size: 20px;
}

.mobile-nav-menu {
  background-color: #f3f3f3;
  display: flex;
  position: fixed;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 450px;
  z-index: 9;
  transform: translateY(-900px);
  top: 65px;
  transition: transform 0.3s ease-in-out;
}

.mobile-nav-menu.menu-open {
  transform: translateY(0);
}

.mobile-nav-menu.menu-closed {
  transform: translateY(-800px);
}

.mobile-nav-menu-list {
  list-style: none;
  text-decoration: none;
}

.mobile-nav-menu-list-item:first-child {
  padding-top: -20px;
}

.mobile-nav-menu-list-item {
  padding: 30px 5px;
  width: 90%;
  margin: 0 auto;
  text-decoration: none;
  border-bottom: 1px solid #d0d0d0;
}

.mobile-nav-menu-list-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.mobile-social-icons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style: none;
  padding: 50px 20px;
}

.mobile-social-icons a {
  color: black;
  font-size: 30px;
  padding: 30px 5px;
  margin-right: 10px;
}

.desktop-nav {
  display: none;
}

@media only screen and (min-width: 800px) {
  body {
    background-color: lightblue;
  }

  .desktop-nav {
    display: inline-block;
  }

  .desktop-nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 300px;
  }

  .desktop-nav li {
    font-weight: bold;
  }

  .nav-hamburger-toggle {
    display: none;
  }

  .mobile-nav-menu {
    display: none;
  }
}
