.projects-container {
  padding: 20px;
}

.projects {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 50px 0;
}

.project-intro > * {
  padding-bottom: 30px;
}

.project-intro h1 {
  font-size: 22px;
}

.project-intro p {
  font-size: 18px;
  line-height: 30px;
}

.projects img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.project-card > * {
  padding: 8px 0;
}

.project-card {
  padding-bottom: 50px;
}

.project-card a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.project-description {
  font-size: 18px;
  line-height: 30px;
}

.stack-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.stack {
  font-weight: bold;
}


@media only screen and (min-width: 800px) {
    .projects img {
        width: 1080px;
        height: 600px;
        max-width: 100%;
    }

    .projects {
        max-width: 1400px;
        margin: 0 auto;
    }

    .primary-project {
        max-width: 1080px;
        margin: 0 auto;
    }

    .secondary-projects {
        display: flex;
        gap: 40px;
        max-width: 1080px;
            margin: 0 auto;
            padding-top: 50px;
    }

    .secondary-projects img {
        height: 500px;
    }

    .project-intro {
        text-align: center;
        max-width: 1080px;
        margin: 0 auto;
        padding: 50px 0;
    }
}