.projects-container {
  padding: 20px;
}

.projects {
  border-bottom: 1px solid black; 
}

.project-intro p {
  font-size: 18px;
  line-height: 30px;
}

.projects img {
  width: 100%;
  height: 350px;
  padding: 0;
  object-fit: cover;
}

.project-card a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.project-description {
  font-size: 18px;
  line-height: 30px;
}

.stack-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.stack {
  font-weight: bold;
}

@media only screen and (min-width: 800px) {
  .projects img {
    width: 1080px;
    height: 600px;
    max-width: 100%;
    border: solid red 1px;
  }

  .projects {
    max-width: 1400px;
    padding: 25px;
    margin: 0 auto;
    border: solid red 1px;
  }

  .primary-project {
    max-width: 1080px;
    margin: 0 auto;
    border: solid red 1px;
  }

  .secondary-projects {
    display: flex;
    gap: 40px;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 50px;
    border: solid red 1px;
  }

  .secondary-projects img {
    height: 500px;
    border: solid red 1px;
  }

  .project-intro {
    text-align: center;
    max-width: 1080px;
    margin: 0 auto;
    border: solid red 1px;
  }
}
