.projects-container {
  max-width: 1440px;
  margin: auto;
    border: 1px solid var(--primary-font-color);
      box-shadow: 3px 3px 0 0 var(--primary-font-color);
     border-radius: 8px;
     overflow: hidden;
}

.projects-header-title {
margin: auto;
max-width: 1440px;
text-align: center;
padding: 100px;
}

.projects {
  padding: 50px 0;
  
}

.project-one,
.project-two,
.project-three {
  display: flex;
  flex-wrap: wrap;
  
}

.project-two,
.project-four {
  flex-direction: row-reverse;
}

.project-one-content,
.project-one-img {
  flex: 1 0 50%;
  box-sizing: border-box;
}

.project-one-content,
.project-two-content,
.project-three-content {
  padding: 15px;
  display: flex;
  align-items: center;
}

.project-one-img img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

.project-two-content,
.project-two-img {
  flex: 1 0 50%;
  box-sizing: border-box;
}

.project-two-img img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

.project-three-content,
.project-three-img {
  flex: 1 0 50%;
  box-sizing: border-box;
}

.project-three-img img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

.project-stack-list {
  display: flex;
  text-align: center;
}

.project-stack-list > * {
  border: 1px solid var(--primary-font-color);
  border-radius: 4px;
  padding: 2px 8px;
}

.project-one-content,
.project-two-content,
.project-three-content {
  background-color: var(--project-bg-color-1);
}

.project-one-content-txt > *,
.project-two-content-txt > *,
.project-three-content-txt > * {
  padding-bottom: 16px;
}

li {
  list-style: none;
  background-color: var(--primary-font-color);
  color: var(--alternate-bg-color);
}

li:not(:last-child) {
  margin-right: 10px;
}

.project-cta-btn {
  padding: 0;
  margin: 0;
  border: 2px saddlebrown solid;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .projects-container {
    margin: 0 15px;
  }

  .project-one-content,
  .project-one-img {
    flex: 0 0 100%;
  }

  .project-one-content,
  .project-two-content,
  .project-three-content,
  .project-four-content {
    padding: 15px;
    padding-bottom: 130px;
  }

  .project-two-content,
  .project-two-img {
    flex: 0 0 100%;
  }

  .project-three-content,
  .project-three-img {
    flex: 0 0 100%;
  }

  .project-four-content,
  .project-four-img {
    flex: 0 0 100%;
  }
}
