.fa-brands {
  font-size: 30px;
  color: #1b1b1b;
}

.fa-brands:hover {
  color: #bb9f00;
}

a {
  padding: 10px 0px;
}

a:not(:first-child) {
  margin-left: 10px;
}

.footer-social-icons {
  display: none;
}

.contact-social-icons {
  display: flex;
}

@media screen and (max-width: 767px) {
  .contact-social-icons {
    display: none;
  }

  .footer-social-icons {
    display: flex;
  }
}
